{% extends "base.html" %}
{% block body %}
<html>
    <body>
        <div class="container">
        <form role="form" method='POST' action='/planets'>
            <div class="form-group">
                <input type="text" name="url" class="form-control" id="url-box" placeholder="Enter name to look!" style="max-width: 300px;" autofocus required>
            </div>
            <button type="submit" class="btn btn-defult">submit</button>
        </form>
        </div>
    </body>
    <table>
        <tr>
            <th>name</th>
            <th>description</th>
        </tr>
        {% for item in Planet %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
        {% endfor %}
    </table>
</html>
{% endblock %}